@page "/recipes/{id:int}"
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using WMP.Data
@using WMP.Models
@using WMP.Services
@attribute [Authorize]

@rendermode InteractiveServer

@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthProvider
@inject UserManager<ApplicationUser> UserManager

@if (isLoading)
{
    <span>Loading...</span>
}
else
{
    <div class="page">
        <div class="recipe-info-container">
            <div class="recipe-info-header">
                <div class="recipe-info-header-content">
                    <h2>@model.Name</h2>

                    <div class="recipe-info-widget-container">
                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-logo.svg"/>
                            <span>@mealDateRecipes.Where(x => x.RecipeId == model.Id).Count() Times Made</span>
                        </div>

                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-shopping.svg"/>
                            @if (lastTimeMadeInDays() != -1)
                            {
                                <span>Last time made: @(lastTimeMadeInDays() == 0 ? "Today" : $"{lastTimeMadeInDays()} days ago")</span>
                            }
                            else
                            {
                                <span>Last time made: never</span>
                            }
                        </div>

                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-calendar.svg"/>
                            <span>@model.CreatedDate.ToString("d")</span>
                        </div>

                    </div>

                    <button class="btn btn-primary">Add to Calendar</button>
                </div>
                <img src="@model.ThumbnailUrl"/>
            </div>

        </div>

        <div class="recipe-info-container">
            <div class="recipe-info-ingredients">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-shopping.svg"/>
                    <span>Ingredients</span>
                </div>

                <div class="recipe-info-ingredients-container">
                    <ul>
                        @foreach (var ingredient in model.Ingredients)
                        {
                            <li>@($"{ingredient.Measure} - {ingredient.Name}")</li>
                        }
                    </ul>
                </div>

            </div>

            <div class="recipe-info-instructions">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-logo.svg"/>
                    <span>Instructions</span>
                </div>

                <div class="recipe-info-instructions-container">
                    <ol>
                        @foreach (var step in SplitByStepNumbers(model.Approach))
                        {
                            <li style="margin-top: 1rem;">@step</li>
                        }
                    </ol>
                </div>
            </div>

            <div class="recipe-info-instructions">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-calendar.svg"/>
                    <span>Cooking History</span>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [CascadingParameter(Name = "Layout")] public MainLayout? Layout { get; set; }

    [Parameter] public int Id { get; set; }

    List<MealDateRecipe> mealDateRecipes = new();

    private bool isLoading = true;

    private Recipe? model;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            isLoading = true;
            StateHasChanged();

            await getData();

            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task getData()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        ApplicationUser? applicationUser = await UserManager.GetUserAsync(user);

        model = await RecipeService.GetRecipe(Id);
        mealDateRecipes = await RecipeService.GetMealDateRecipesFromFamily(applicationUser.FamilyId.Value);
    }

    List<string> SplitByStepNumbers(string text)
    {
        return Regex
            .Split(text, @"(?=\d+\.\s)")
            .Where(s => !string.IsNullOrWhiteSpace(s))
            .Select(s => Regex.Replace(s, @"^\d+\.\s*", "")) // remove "1. "
            .ToList();
    }

    private int lastTimeMadeInDays()
    {
        List<MealDateRecipe> filteredMealDateRecipes = mealDateRecipes.Where(x => x.RecipeId == model.Id).ToList();

        if (filteredMealDateRecipes.Count != 0)
        {
            DateTime date = filteredMealDateRecipes.Max(x => x.Date);

            DateTime today = DateTime.Today;

            TimeSpan timeSpan = today - date;

            return timeSpan.Days;
        }
        else
        {
            return -1;
        }
    }
}